<% layout("/layouts/boilerplate") %>

<div class="row">
    <div class="col-8 offset-2">
    <br><br>
        <h3>Edit your Listing</h3>
        <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required/>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="listing[description]" class="form-control" required><%= listing.description %></textarea>
                <div class="invalid-feedback">
                    Please provide a valid description.
                </div>
            </div>
           
            <div class="mb-3">
                Original Listing Image </br>
                <img src="<%= originalImageUrl %>" style="max-width: 250px; height: auto;" />
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image</label>
                <input name="listing[image]" value="listing.image" type="file" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <input name="listing[price]" value="<%= listing.price %>" type="number" class="form-control" required/>
                <div class="invalid-feedback">
                    Please provide a valid price.
                </div>
            </div> 
            <br><br>
            <button class="btn btn-dark edit-btn">Edit</button>
            <br><br>
        </form>
    </div>    
</div>
<script src="/js/script.js"></script>